@typeparam TItem
@inject IBDataGridStyle BDataGridStyle
@inject Microsoft.JSInterop.IJSRuntime JSRuntime

<table @ref="TableRef" class="@(BDataGridStyle.TableClass)">

    <thead class="@(BDataGridStyle.HeaderClass)">
        <tr class="@(BDataGridStyle.HeaderRowClass)">
            @foreach (var col in Builder.Columns)
            {
                <th style="@(col.Value.Width == null ? "" : "width: " + col.Value.Width)">
                    @(col.Value.HeaderText ?? "Unknowned header")
                </th>
            }
        </tr>
    </thead>

    <tbody>

        @for (int i = CurrentPage * PageSize; i < Items.Count && i - CurrentPage * PageSize < PageSize; ++i)
        {
            var item = Items[i];
            var rowInfo = Builder.RowInfos[i] ?? Builder.GlobalRowInfo;

            <tr style="@(rowInfo.BackgroundColor == null ? "" : "background-color:" + System.Drawing.ColorTranslator.ToHtml(rowInfo.BackgroundColor.Value))"
                class="@(rowInfo.Classes ?? "") @(BDataGridStyle.RowClass)">

                @{
                    int colspanToSkip = 1;
                    foreach (var col in Builder.Columns)
                    {
                        if (colspanToSkip > 1)
                        {
                            --colspanToSkip;
                            continue;
                        }
                        var isCurrentCell = SelectedCell?.Item == item && SelectedCell.Col == col.Value;

                        DataGridCellInfo<TItem>? cellInfo = null;
                        if (rowInfo.Cells != null)
                            rowInfo.Cells.TryGetValue(col.Key, out cellInfo);

                        colspanToSkip = cellInfo?.ColSpan ?? 1;

                        <td tabindex="0" colspan="@colspanToSkip.ToString()"
                            style="@(cellInfo?.BackgroundColor == null ? "" : "background-color:" + System.Drawing.ColorTranslator.ToHtml(cellInfo.BackgroundColor.Value))"
                            class="@(BDataGridStyle.CellClass) @(cellInfo?.Classes ?? "") @(isCurrentCell ? BDataGridStyle.SelectedCell + " selectedCell" : "")"
                            @onclick="() => SelectedCellFromClient(item, col.Value)"
                            @ondblclick="() => OpenEditor(item, col.Value)">

                            @if (isCurrentCell && CurrentEditor != null && CurrentEditorRenderFragment != null)
                            {
                                @CurrentEditorRenderFragment(CurrentEditor);
                            }
                            else
                            {
                                @((cellInfo?.FormatterString ?? col.Value.Formatter)(item))
                            }

                        </td>
                    }
                }

            </tr>
        }

    </tbody>

    @if (CurrentTotalPages > 1)
    {
        <tfoot>

            <tr>
                <th colspan="@(Builder.Columns.Count.ToString())">
                    <div class="@BDataGridStyle.PaginationDivClass">
                        @if (CurrentPage > 0)
                        {
                            <a class="@BDataGridStyle.PaginationPageNumberClass" @onclick="() => CurrentPage = 0">
                                <i class="@BDataGridStyle.PaginationLeftIcon"></i>
                            </a>
                        }
                        @if (CurrentPage > 1)
                        {
                            <a class="@BDataGridStyle.PaginationPageNumberClass" @onclick="() => CurrentPage -= 2">@(CurrentPage - 1)</a>
                        }
                        @if (CurrentPage > 0)
                        {
                            <a class="@BDataGridStyle.PaginationPageNumberClass" @onclick="() => CurrentPage -= 1">@(CurrentPage)</a>
                        }
                        <a class="@BDataGridStyle.PaginationPageNumberClass active">@(CurrentPage + 1)</a>
                        @if (CurrentTotalPages - CurrentPage > 1)
                        {
                            <a class="@BDataGridStyle.PaginationPageNumberClass" @onclick="() => CurrentPage += 1">@(CurrentPage + 2)</a>
                        }
                        @if (CurrentTotalPages - CurrentPage > 2)
                        {
                            <a class="@BDataGridStyle.PaginationPageNumberClass" @onclick="() => CurrentPage += 2">@(CurrentPage + 3)</a>
                        }
                        @if (CurrentPage != CurrentTotalPages - 1)
                        {
                            <a class="@BDataGridStyle.PaginationPageNumberClass" @onclick="() => CurrentPage = CurrentTotalPages - 1">
                                <i class="@BDataGridStyle.PaginationRightIcon"></i>
                            </a>
                        }
                    </div>
                </th>
            </tr>

        </tfoot>
    }

</table>

